/*Animation hover*/

span.highlight {
  text-shadow:
-1px -1px 0 #fff,
1px -1px 0 #fff,
-1px 1px 0 #fff,
1px 1px 0 #fff;
}
.underline {
  /*display: inline-block;*/
  position: relative;
  overflow: hidden;

}
.underline:after {
  position: absolute;
  content: '';
  bottom: 4px;
  left: 0px;
  height: 2px;
  width: 0%;
  background-color: rgb(48, 48, 48);
  animation: 3s underline 2s; /* remove infinite if you want only once */
  z-index: -999999;
  }

@keyframes underline {
  to { width: 100%; }
  50% { width: 100%; left: 0px;}
  100% { width: 0%;left: 150px; }
}

.underline, .underline2, .underline3, .underline4, .underline5 {
  /*display: inline-block;*/
  position: relative;
  overflow: hidden;
}
.underline2:after {
  position: absolute;
  content: '';
  bottom: 4px;
  left: 0px;
  height: 2px;
  width: 0%;
  background-color: rgb(48, 48, 48);
  animation: 3s underline2 4s; /* remove infinite if you want only once */
  z-index: -999999;
}
@keyframes underline2 {
  to { width: 100%; }
  50% { width: 100%; left: 0px;}
  100% { width: 0%;left: 120px; }
}

.underline3:after {
  position: absolute;
  content: '';
  bottom: 4px;
  left: 0px;
  height: 2px;
  width: 0%;
  background-color: rgb(48, 48, 48);
  animation: 3s underline3 6s; /* remove infinite if you want only once */
  z-index: -999999;
}
@keyframes underline3 {
  to { width: 100%; }
  50% { width: 100%; left: 0px;}
  100% { width: 0%;left: 80px; }
}

.underline4:after {
  position: absolute;
  content: '';
  bottom: 4px;
  left: 0px;
  height: 2px;
  width: 0%;
  background-color: rgb(48, 48, 48);
  animation: 3s underline4 8s; /* remove infinite if you want only once */
  z-index: -999999;
}
@keyframes underline4 {
  to { width: 100%; }
  50% { width: 100%; left: 0px;}
  100% { width: 0%;left: 190px; }
}

.underline5:after {
  position: absolute;
  content: '';
  bottom: 4px;
  left: 0px;
  height: 2px;
  width: 0%;
  background-color: rgb(48, 48, 48);
  animation: 3s underline5 10s; /* remove infinite if you want only once */
  z-index: -999999;
}
@keyframes underline5 {
  to { width: 100%; }
  50% { width: 100%; left: 0px;}
  100% { width: 0%;left: 120px; }
}

.underline6:after {
  position: absolute;
  content: '';
  bottom: 4px;
  left: 0px;
  height: 2px;
  width: 0%;
  background-color: rgb(48, 48, 48);
  animation: 3s underline6 12s; /* remove infinite if you want only once */
  z-index: -999999;
}
@keyframes underline6 {
  to { width: 100%; }
  50% { width: 100%; left: 0px;}
  100% { width: 0%;left: 120px; }
}

.underline7:after {
  position: absolute;
  content: '';
  bottom: 4px;
  left: 0px;
  height: 2px;
  width: 0%;
  background-color: rgb(48, 48, 48);
  animation: 3s underline7 14s; /* remove infinite if you want only once */
  z-index: -999999;
}
@keyframes underline7 {
  to { width: 100%; }
  50% { width: 100%; left: 0px;}
  100% { width: 0%;left: 120px; }
}


#gradient {
	width: 100wh;
	height: 100vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

h1,
h6 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	position: absolute;
	top: 45%;
	right: 0;
	left: 0;
}
