
@font-face {
    font-family:"Avenir Book";
    src:url("Avenir-Book-01.woff2") format("woff2"),url("Avenir-Book-01.woff") format("woff"),url("Avenir-Book-01.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        