
@font-face {
    font-family:"MinionPro-Regular";
    src:url("MinionPro-Regular.woff2") format("woff2"),url("MinionPro-Regular.woff") format("woff"),url("MinionPro-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        